.logoBg , .search-container{display: none}
.header-container{box-shadow: 0 0 23px #000;background-image: url(/img/bg.jpg);background-position: inherit; height: 50px;background-size: cover;}
.loginBox{float: none;margin: 30px 0;height: 145px;}
.inputLoginInCartPage{border: 1px solid #ccc;border-radius: 22px;padding: 6px 12px;margin-top: 8px}
.loginBox span{margin-right: 12px;color: #777;}
.hrr{width: 99%; float: none;margin:0px auto 22px; border-bottom: 1px solid #ccc}
.cartLoginBtn{float: right;margin-top: 8px;border-radius: 27px;border: none;padding: 5px 14px;background: #39b54a;color: #fff;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);margin-left: 3px;height: 36px;width: 75px;}
.loginBox a{float: left; line-height: 56px}
.next a {margin: 18px auto;width: 100%;padding: 8px;line-height: 20px; }
.next{padding: 0}
.pager li>a, .pager li>span {background: #31b0d5; border: none;color:#fff;padding: 8px}
.loginBox .pager span {color:#fff;position: absolute;font-size: 25px}
.active{background-color: inherit;}
.signupBox{margin:150px 0}
.col-md-11{padding-right:0px;padding-left:0px; }
.signup span{margin-right: 12px;color: #777;}
@media screen and (max-width: 991px){.footerContact{margin-top: 0}.signup{border-right: none} .hrr{display: block} .pageContent{height: 570px;}}
@media screen and (min-width: 992px) {.marginFirstCol{margin-right: 7%;}.signup{border-right: 1px solid #ccc; margin:30px;} .hrr{display: none}}
@media screen and (max-width: 767px) {.header-container{height: 63px !important}}
