.header-container{background-image: url(/img/bg_page.jpg);background-position: inherit; height: 50px}
.search-container{display: none}
.foodsBoxCart{ height: auto;min-height: 100px;min-width: 270px;background: #f7f9fa;}
.chooiceOptionToBuy{float: right;line-height: 30px;width: 94%;max-width: 300px;margin: 8px;}
.selectInCartPage{padding: 0 10px 0 0;border: 1px solid #ccc;background: #fff;border-radius: 4px;color: #333;}
.foodPicHomepage{margin-left: 13px;box-shadow: -2px 2px 3px 0 rgba(0,0,0,.15);width: 130px;height: 110px;}
input[type=submit]{padding: 0 0px; margin-top: 13px;}
.submitFoodToBuy{padding:0 2px;float: right;height: 38px;color: #fff;line-height: 38px;border-radius: 4px;border: none;background: #39b54a;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);}
.deleteFoodFromCart{margin-right: 0px;padding:0 2px;float: right;height: 38px;color: #fff;line-height: 38px;border-radius: 4px;border: none;background:#ed477b;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);}
.headerBox{margin-bottom: 20px;}
.active{background-color: inherit;}
.nav-tabs>li>a { font-size: 12px; }
.nav-tabs{margin-bottom: 8px; padding: 0 8px}
@media screen and (max-width: 665px) {.foodsBoxCart{margin: 15px auto; float: none; width: 90%}}
@media screen and (min-width: 665px) {.foodsBoxCart{margin: 15px; float: right;width:30%;}}
@media screen and (max-width: 767px) {.header-container{height: 63px}}

.alert{font-size: 80%}
.col-md-11{padding-right:0px;padding-left:0px; }
.tab-content{padding-right:8px; padding-left: 8px }
.btnOff{background: #d7ded8; cursor: inherit;}
.btnOn{background: #39b54a; cursor: pointer;}
.datepicker{color: rgba(234, 29, 93, 0.83);padding: 0 14px;font-size: 14px;margin: 0px;float: left;height: 32px;border-radius: 52px;}
.dateBox{background: #f8ea8d;position: relative;padding: 0;width: 206px;border: 1px solid #ccc;height: 34px;}
.dateIcon{width: 25px;height: 25px;float: right;background: #ed477b url(../img/dateicon.png);background-repeat: no-repeat;margin: 3px;background-position-x: 2px;border-radius: 22px;background-position-y: 0px;}
.arrow{width: 10px;float: left;position: absolute;left: 34px;bottom: 0px;height: 10px;}
#date{max-width: 76px; margin-right: 3px;border:none; padding:0 2px;float:right; text-align: center;background: #ed477b;color: #Fff}
.alert{margin-bottom: 5px}
.footerContact{margin-top: 5px}
.getTypeOfOrder{background-color: White; border: 2px solid black;display: block; width: 350px; z-index: 1001; top: 60px; left: 240px; position: fixed; padding-left: 10px;margin:auto;}
.mask {background: rgba(0,0,0,0.8);position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.col-md-5{float: none;margin: 63px auto; height: 150px;}
.col-md-12{border: none;border-radius: 22px;padding: 6px;margin-top: 8px;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);height: 50px;line-height: 40px;text-align: center;background: #39b54a}
.col-md-12 a{color: #fff}
.col-md-12 img{float: left;width: 38px}
