.logoBg , .search-container{display: none}
.header-container{background-size: cover;box-shadow: 0 0 23px #000;background-image: url(/img/bg.jpg);background-position: inherit; height: 50px}
.foodsBoxCart{border:1px solid #dadada;height: 189px;min-height: 100px;min-width: 270px;background: #f7f9fa; position: relative;}
.foodsBoxCart .headerBox{background-color: rgba(191, 201, 210, 0.39)}
.foodsBoxCart .headerBox h3{font-size: 15px}
.chooiceOptionToBuy{float: right;line-height: 30px;width: 100%; padding:0}
.chooiceOptionToBuy span{margin: 8px;}
.selectInCartPage{padding: 0 10px 0 0;border: 1px solid #ccc;background: #fff;border-radius: 4px;color: #333;}
.foodPicHomepage{margin-left: 13px;box-shadow: -2px 2px 3px 0 rgba(0,0,0,.15);width: 130px;height: 110px;}
input[type=submit]{padding: 0 0px; margin: 7px 8px 0px 0;}
.submitFoodToBuy{padding:0 2px;float: right;height: 38px;color: #fff;line-height: 38px;border-radius: 4px;border: none;background: #39b54a;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);}
.deleteFoodFromCart{width: 70px;height: 30px;float: left;color: #fff;line-height: 30px;border-radius: 4px;border: none;background: #ed477b;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);position: absolute;left: 4px;bottom: 14px;}
.active{background-color: inherit;}
.nav-tabs>li>a { font-size: 12px; }
.nav-tabs{margin-bottom: 8px; padding: 0 8px}
@media screen and (max-width: 665px) {.dateBox{margin: 5px 0}.foodsBoxCart{margin: 15px auto; float: none; width: 90%}}
@media screen and (min-width: 665px) {.foodsBoxCart{margin: 15px; float: right;width:30%;}}
@media screen and (max-width: 767px) {.header-container{height: 63px!important}}
.alert{font-size: 80%}
.col-md-11{padding-right:0px;padding-left:0px; }
.tab-content{padding-right:8px; padding-left: 8px }
.btnOff{background: #d7ded8; cursor: inherit;}
.btnOn{background: #39b54a; cursor: pointer;}
.datepicker{color: rgba(234, 29, 93, 0.83);padding: 0 14px;font-size: 14px;float: left;height: 32px;border-radius: 52px;}
.dateBox{background: #f8ea8d;position: relative;padding: 0;width: 220px;border: 1px solid #ccc;height: 34px;}
.dateIcon{width: 25px;height: 25px;float: right;background: #ed477b url(../img/dateicon.png);background-repeat: no-repeat;margin: 3px;background-position-x: 2px;border-radius: 22px;background-position-y: 0px;}
.arrow{width: 10px;float: left;position: absolute;left: 34px;bottom: 0px;height: 10px;}
#date{max-width: 90px; margin-right: 3px;border:none; padding:0 2px;float:right; text-align: center;background: #ed477b;color: #Fff}
.alert{margin-bottom: 5px}
.footerContact{margin-top: 5px}
.getTypeOfOrder{background-color: White; border: 2px solid black;display: block; width: 350px; z-index: 1001; top: 60px; left: 240px; position: fixed; padding-left: 10px;margin:auto;}
.mask {background: rgba(0,0,0,0.8);position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#date::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
#date::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.off{position: absolute;left: 0;top: 0;display: none;width: 80px;height: 30px;float: left;background: #d9edf7;margin:4px 6px;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);border: 1px solid #bce8f1;line-height: 30px; font-size: 12px;border-radius: 4px;color: #31708f;text-align: center;}
.foodName{float: right;}
.off:nth-child(2){display: block;}

.qtyBox{background: rgba(204, 204, 204, 0.27);width: 100%; height: auto; min-height: 57px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
.qtyBox span{ float: right; margin-top: 13px}
.qtyBox div{cursor:pointer;float: right;width: 30px;height: 30px;text-align: center;border-radius: 4px; color: #fff}
.PPqty{background: #39b54a;margin: 13px -4px 0 -4px;}
.MMqty{background: #ed477b;margin: 13px 9px 0 -4px;}
.numOfFood{float: right;list-style: none;margin: 13px 7px;height: 30px;width: 30px;background: #fff;text-align: center;box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);border-radius: 4px;border: 1px solid #ccc;}
.totalPrice{background-color: rgba(234, 29, 93, 0.83);color: #fff;border-radius: 3px;padding: 2px}
.pager .next .contiuneBuy{color: #fff; background: #337ab7}