
@font-face {font-family: 'iransans';src: url('../fonts/iransans.eot?#iefix') format('embedded-opentype'),  url('../fonts/iransans.woff') format('woff'), url('../fonts/iransans.ttf')  format('truetype'), url('../fonts/iransans.svg#iransans') format('svg');font-weight: 400;font-style: normal;}
*{padding: 0;margin: 0 ; font-family: iransans}
textarea{resize: vertical;}
html{scroll-behavior: smooth;}
.row{padding: 0; margin:0;}
body{background: #eeeff1}
a:hover{text-decoration: none}
.navbar {background: rgba(0, 0, 0, .20); margin-bottom: 0px; border-radius: 0;}
.container-fluid{margin: 0; padding: 0}

.navbar a { color: #fff;color: #fff;text-decoration: none;margin: 13px 9px;line-height: 22px;float: right;}
.navbar-nav{margin-right: 0; margin-left: 0}
.navbar a:hover {color: #39b54a }
.search-container{;width: 60%;max-width: 60%; height: 70px;position: absolute;left: 50%;top: 72%;margin: -35px -30%;background-color: #fff;border: 1px solid #7ED321;-webkit-border-radius: 35px;-moz-border-radius: 35px;-o-border-radius: 35px;border-radius: 35px;}
.header-search{outline: none;width: 68%;border: none;text-align: right;direction: rtl;line-height: 60px;padding: 0 4px 0 0;margin: 4px 0px 4px 0;float: right;border-bottom-left-radius: 35px;border-top-left-radius: 35px;}
input:focus{border: none;}
.iconSearchBox {float: right;width: 50px;margin: 9px;}
.searchBtn{cursor: pointer;width: 15%;height: 100%;background: #39b54a;border-radius:35px 0px 0px 35px;float: left;text-align: center;line-height: 61px;color: #fff;font-size: 26px;}

.howToOrder{width: 100%; height: 150px; background: rgba(0, 0, 0, 0.05);text-align: center; line-height: 150px; position:relative;}
.tooltip.left{width: 300px;z-index: 100}
.tooltip.right{z-index: 1000; position: absolute;}
.arrowpng{width: 20%;position: absolute;top: 26px;z-index: 10}
.filterBox{;height: auto;margin: 17px 70px 10px 0px;width: 200px; padding: 0;z-index: 1}
.box{background-color: #fff;border: 1px solid #ebeced;-ms-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);-ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow: hidden}
.foodBox{height: 170px;padding:0;margin-top: 10px;margin-bottom: 10px;margin-right: 20px;max-width: 470px;width: 478px;}
.foodsTypeFix{top: 0px;width: 201px;margin: 6px -1px;}
.selectedFood{position: absolute;left: 0;bottom:5px;}
.col-md-9{position: static;}
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}
.nav-sidebar { width: 100%;padding: 10px 2px; border-right: 1px solid #ddd;margin-right: 10px;}
.nav-sidebar a {color: #333;-webkit-transition: all 0.08s linear;-moz-transition: all 0.08s linear;-o-transition: all 0.08s linear;transition: all 0.08s linear;}
.nav-sidebar .active a { cursor: default;background-color: #39b54a; color: #fff; }
.nav-sidebar .active a:hover {background-color: #E50000;}
.nav-sidebar .text-overflow a,.nav-sidebar .text-overflow .media-body {white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis; }
.btn-blog {color: #ffffff;background-color: #E50000;border-color: #E50000;border-radius:0;margin-bottom:10px}
.btn-blog:hover,.btn-blog:focus,.btn-blog:active,.btn-blog.active,.open .dropdown-toggle.btn-blog {color: white;background-color:#0b56a8;border-color: #0b56a8;}
article h2{color:#333333;}
h2{color:#0b56a8;}
.margin10{margin-bottom:10px; margin-right:10px;}
.container .text-style{text-align: justify;line-height: 23px;margin: 0 13px 0 0;font-size: 19px;}
.nav>li>a:focus, .nav>li>a:hover, .active {text-decoration: none;background-color: #39b54a;}

.headerBox{height: 40px;background-color: #f7f9fa;line-height: 40px;}
.headerBox h3{color: #666;height: 40px;font-size: 12px;padding-right: 10px;direction: rtl;margin: 0; line-height: 40px;}
.contentpage{position: relative;}
.footerContact{width: 100%; height: auto;min-height: 55px;background: #6d717a;color: #fff;padding: 0;line-height: 55px;}
.footerContact div{background: #2f2f2f;}
.footerContent{width: 100%; height: auto; background: #606775 url("/img/footer-bg.jpg") repeat scroll left top;background-size: cover;background-position: 50% 50%;}
.flwUp{font-family: iransans;-ms-border-radius: 2px;border-radius: 4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #999;float: right;font: 13px;height: 38px;margin: 7px 0px 0 9px;padding: 0 14px;text-align: right;-webkit-transition: all 400ms ease-out 0s;-moz-transition: all 400ms ease-out 0s;-ms-transition: all 400ms ease-out 0s;-o-transition: all 400ms ease-out 0s;transition: all 400ms ease-out 0s;max-width:91%;width: 448px;border: none;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15); line-height: 38px}
.flwUpBtn{float:right;height: 38px;margin: 7px 1px;line-height: 38px;width: 100px;border-radius: 4px;border: none;background: #39b54a;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);}
.foodBox .headerBox span {color: #666;margin-right: 9px;font-size: 13px;}
.cart-box .headerBox{background: #39b54a;}
.cart-box { width: 100%;}
.cart-box img{float: right;margin: 4px; }
.iconBag{background: rgba(227, 228, 230, 0.25);height: 41px;float: right; padding:0 4px;}
.cart-box h3 {float: right;margin: 0 9px;color: #fff}
.badge{background-color: rgb(34, 121, 9);float: right;margin-top: 10px;padding: 3px 8px; line-height: 1.4}
.checkOutFood{line-height: 40px;color: #fff; float: none; margin: 5px auto; background: rgba(255, 255, 255, 0.24); border-radius: 4px; width: 90%; height: auto; min-height: 40px;  }
.checkOutFood p { text-align: right;    border-bottom: 1px dashed #fff;margin-right:  10px }
.cart-box .headerBox:hover {background: #4caf50 !important}
.cart-box { padding-bottom: 1px;text-align: center;background:rgba(57, 181, 74, 0.7) }
.foodDesc{margin-bottom: 5px;}
.foodDesc:nth-child(2){font-size: 11px;}
.foodDescHomepage{color: #666; font-size: 11px;}
.foodPicHomepage{width: 158px; max-width: 43%; float: right;height:128px;}
.priceRange{line-height: 29px;text-align: center;width: 158px;height: 29px;border-radius: 33px 33px 0 0;border-top: 1px solid #39b54a;position: absolute;right: 0;bottom: 0;padding: 0 5px;color: #78ae00;background: rgba(70, 60, 60, 0.81);max-width: 40%;}
.bottomFoodbox .foodBoxChecker{position: absolute;left: 5px;margin-top: 29px;bottom: 5px;width: 127px;height: 30px;background: rgba(57, 181, 74, 0.89);border-radius: 4px;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);text-align: center;line-height: 28px;color: #fff;font-size: 12px;border: 1px solid rgba(4, 4, 4, 0.23);}
.menuMobile{width: 100%;height: auto; transition: all 500ms;min-height: 40px;position: fixed;z-index: 100000;background: #39b54a;display: none; bottom: 0}
.menuMobile .arrowMenuMob{width: 17px; float: left;margin: 8px 5px;}
.menuMobile .headerBox a{color: #fff}
.menuMobile .headerBox .iconBag img{ margin: 4px -4px}
.menuMobile .checkOutFood {display: none; opacity: 0;transition: all 500ms}
.menuMobile .showCheckOutFoodMobile{display: block;opacity: 1; transition: all 500ms}

/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {padding-top: 40px;padding-right: 0;padding-bottom: 20px;padding-left: 0;}
.footer1 a{color: #fff;}
.title-widget {color: #ffffff;font-size: 20px;font-weight: 300;line-height: 1;position: relative;text-transform: uppercase;margin-top: 0;margin-right: 0;margin-bottom: 25px;margin-left: 0;padding-left: 28px;}
.title-widget::before {background-color: #39b54a;content: "";height: 22px;right: -14px;position: absolute;top: -2px;width: 5px;}
.widget_nav_menu ul {list-style: outside none none;padding-left: 0;}
.widget_archive ul li {background-color: rgba(0, 0, 0, 0.3);content: "";height: 3px;left: 0;position: absolute;top: 7px;width: 3px;}
.widget_nav_menu ul li {font-size: 13px;font-weight: 700;line-height: 20px;position: relative;text-transform: uppercase;border-bottom: 1px solid rgba(0, 0, 0, 0.05);margin-bottom: 7px;padding-bottom: 7px;width:95%;}
.title-median {color: #636363;font-size: 20px;line-height: 20px;margin: 0 0 15px;text-transform: uppercase;font-family: 'Fjalla One', sans-serif;}
.footerp p {font-family: 'Gudea', sans-serif; }
#social:hover {-webkit-transform:scale(1.1); -moz-transform:scale(1.1); -o-transform:scale(1.1); }
#social {-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-o-transform:scale(0.8); -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s;-o-transition-duration: 0.5s;}   
.social-fb:hover {color: #3B5998;}
.social-tw:hover {color: #4099FF;}
.social-gp:hover {color: #d34836;}
.social-em:hover {color: #f39c12;}
.nomargin { margin:0px; padding:0px;}
.footer-bottom {background-color: #15224f;min-height: 30px; width: 100%;}
.copyright {color: #fff;line-height: 30px;min-height: 30px;padding: 7px 0;}
.design {color: #fff;line-height: 30px;min-height: 30px;padding: 7px 0;text-align: right;}
.design a {color: #fff;}
.footerp img{width: 120px;margin: 6px 0 15px;border-radius: 4px;}

/************************************************************
*************************Footer******************************
*************************************************************/

/**********PAGE*****/
.pageContent{float: none;margin:15px auto ;height: auto; min-height: 350px}
.active{background-color:  inherit;}
.bottomBoxIndex{margin-top: 20px;padding: 5px 10px;min-height:289px;max-height: 289px;position: relative;}
.bottomBoxIndex .nav-tabs { background-color: #f7f9fa; border-radius: 4px}
.nav-tabs a{color: #555}
.sliderpic{position: relative;}
.sliderpic img{width:100%;height: 200px; margin-top: 5px }
.inputIndex{border: 1px solid #ccc;border-radius: 22px;padding: 6px 12px;margin-top: 8px;}
.flwUpNumber{width: 81.8%; float: right;margin-left: 5px}
.submitComment{    float: right;
margin-top: 8px;
border-radius: 27px;
border: none;
background: #39b54a;
color: #fff;
box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
margin-left: 3px;
height: 36px;
width: 15%;
font-size: 86%;
text-align: center;}
.textareaIndex{border: 1px solid #ccc;border-radius: 22px;padding: 6px 12px;margin-top: 8px;width: 100%;height: 181px; max-width: 543px; max-height: 181px;}
.captionIndex{padding: 10px 20px;overflow: hidden;width: 100%; height: 40px; background: rgba(70, 60, 60, 0.81); color: #fff; position: absolute;bottom: 0;border-radius: 45px 45px 0 0; border-top: 1px solid #39b54a}
.avatarComment{background: #fff;position:absolute;width: 55px;border: 1px solid #ccc;border-radius: 50%;padding: 7px;margin: 8px;float: right;}
.userCommentBox{height: 172px;width: 87%;margin: 34px 24px 0px 24px;padding: 9px 51px;}
.userCommentBox p {overflow: hidden;max-height: 121px;color: rgba(85, 85, 85, 0.74); margin-top: 13px}
.uploadImageIndex{float: right;width: 81.8%; margin-left: 5px}
.bgBottomBoxIndex{width: 100%; height: 332px; background: #e3e4e6;}
.userPics img{transition: all 750ms; opacity: 0.8;height: 93px;width: 30%;float: right;border: 1px solid rgba(204, 204, 204, 0.41);padding: 5px;border-radius: 6px;margin: 12px 5px;}
.userPics img:hover{opacity: 1}
.userCommentBox h6{font-size: 80%; color: #333}
.nav>li>a:hover{background: inherit;}
.searchResult{border-radius: 0 0 5px 5px;width: 77%; height: 0px; transition: all 750ms; background: #fff; box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);}
.searchResult li {transition: all 500ms;text-overflow: Ellipsis;overflow: hidden;white-space: Nowrap;text-overflow : ellipsis;height: 47px;line-height: 35px;list-style: none; padding: 5px ; color: #999; font-size:12px;border-bottom: 1px solid #ccc}
.imgInItemSearch{margin: 0px 0 0 8px;width: 49px;opacity: 0.9;border-radius: 2px;float: right;}
.searchResult span{margin-left: 37px;color: #555; font-size: 15px ; float: right;}
.searchResult li:hover{background: rgba(88, 92, 95, 0.1) }
#boxOfFoodBox{background: #fff}
.glyphicon-menu-left{color: #fff;line-height: 40px;font-weight: bold; float: right;margin: 0 8px}
.mainBoxIndex{margin-top: 6px;}
.modal-dialog{z-index: 100000}
input:focus{outline: 0; border: 1px solid #ccc}
.cartItem{width: 100%; height: 0px; transition: all 500ms;position: relative;}
.optionCart{background: #509c5b;width: 100%; height: 100%;position: absolute; box-shadow: inset 0 0px 8px }
.optionCart a{color: #fff}
.optionCart img{float: left;width: 20px;position: absolute;left: 0px;}
.optionCart .col-md-12{display: none;opacity: 0;transition: all 500ms;border: 1px solid #fff;padding: 0;border-radius: 24px;width: 93%;float: none;margin: 6px auto 0px;height: 29px;text-align: center;line-height: 29px;}
.optionCart .col-md-12:first-child{margin: 12px auto}
.orderFood span{margin: 0px}
.menuMobile .cartItem .optionCart{ height: 51px; transition: all 500ms}
.menuMobile h3{margin: 0px 5px; padding: 0}
.glyphicon{transition:all 500ms;}
.glyphicon-transform{-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}
.optionCartMobile{transition:all 500ms;background: #509c5b;width: 100%; height: 0px;position: absolute; box-shadow: inset 0 0px 8px }
.showoptionCart{height: 100px;padding-bottom: 8px;}
.optionCartMobile a{color: #fff}
.optionCartMobile img{float: left;width: 20px}
.itemInCart{transition: all 700ms;border: 1px solid #fff;padding: 0;border-radius: 24px;width: 90px;font-size: 12px;float: left;height: 35px;margin: 3px;text-align: center;line-height: 34px;}
.showItemCart{transition: all 700ms;display: block;opacity: 1; }
.header-container h1{color: #fff; text-align: center;font-size: 56px;text-shadow: 0 0 3px #000;margin-top:45px }
.header-container h2{color: #fff; text-align: center;text-shadow: 0 0 3px #000;margin-top:13px;font-size: 23px }
.header-container{text-align: center;}
.restaurantMainBox{z-index: -1;padding-left: 0;margin: 0px auto 0;float: none;height: 100px;border-bottom: 1px solid #ccc;white-space: nowrap;overflow-x: hidden;overflow-y: hidden;overflow: hidden;text-overflow: inherit;}
.restaurantMainBox img{width: 126px;height: 94px;float: right;border-radius: 4px;margin: 2px 2px;}
.restaurantMainBox a {    margin: 13px;line-height: 45px;font-size: 16px;color:#555;overflow: auto;}
.restaurantMainBox span{opacity: .8; color:#555}
.restaurantMainBox div{overflow: auto;overflow-y: hidden;height: 97px}
.offIndex{height: 30px;bottom: 0;background: #d9edf7;border: 1px solid #bce8f1;line-height: 30px;position: absolute;font-size: 12px;color: #31708f;text-align: center;}
.noQtyIcon{position: absolute;left: 5px;margin-top: 29px;bottom: 5px;width: 118px;height: 30px;background: rgba(147, 150, 147, 0.89);border-radius: 4px;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);text-align: center;line-height: 28px;color: #fff;font-size: 12px;border: 1px solid rgba(4, 4, 4, 0.23);opacity: .5;}
.footer1 .col-lg-3 h4, h5, h6, b {color: #fff}
.gifLoading{opacity: 0; transition: all 500ms;border-radius: 100%; width: 60px; position: absolute; top: 4px}
.foodBox .headerBox p{position: absolute;top: 0;left: 10px;background: #fff;padding: 0 0 0 9px;}
.foodBox .headerBox p span{color: #3b708f;}
.foodSelected{display: none;}
#sidebar-wrapper {top:0;margin-right: -250px;right: 0;width: 250px;background: #475c6c;position: fixed;height: 100%;overflow-y: auto;z-index: 1000;transition: all 0.5s ease-in 0s;-webkit-transition: all 0.5s ease-in 0s;-moz-transition: all 0.5s ease-in 0s;-ms-transition: all 0.5s ease-in 0s;-o-transition: all 0.5s ease-in 0s;}
.sidebar-nav {position: absolute;top: 0;width: 250px;list-style: none;margin: 0;padding: 0;}
.sidebar-nav li {line-height: 50px;text-indent: 20px;width: 100%;height: 48px;line-height: 48px;text-align: right;}
.sidebar-nav li a {color: #fff;display: block;text-decoration: none;}
.sidebar-nav li a:active, .sidebar-nav li a:focus {text-decoration: none;}
.sidebar-nav > .sidebar-brand {height: 55px;line-height: 55px;font-size: 18px;}
.sidebar-nav > .sidebar-brand a {color: #999999;}
.sidebar-nav > .sidebar-brand a:hover {color: #fff;background: none;}
#menu-toggle {top: 0;right: 0;z-index: 1;border:1px solid #fff;display: none}
#sidebar-wrapper.active {right: 250px;width: 250px;transition: all 0.5s ease-out 0s;-webkit-transition: all 0.5s ease-out 0s;-moz-transition: all 0.5s ease-out 0s;-ms-transition: all 0.5s ease-out 0s;-o-transition: all 0.5s ease-out 0s;}
.toggle {margin: 5px 5px 0 0;}
.glyphicon-remove{color: #2f3d48}
.itemInResponsiveMneu li {width: 100%;height: 40px; padding: 0 5px; border-bottom: 1px solid #ccc;text-align: right;line-height: 40px}
.itemInResponsiveMneu li a{margin:0; line-height: 40px}
.headerMenu{width: 100%;height: 66px;background: #2f3d48}
.removeFoodIndex{margin-top: 5px; width: 100%;border-bottom: 1px dashed #fff;}
.removeFoodIndex img{float: left;width: 20px; margin:10px 7px;}
.enamadMobile {display: none;margin: 5px auto;border: 1px solid #dadada;border-radius: 4px;}
.bgenamadMobile{background: rgba(218, 218, 218, 0.63)!important;width: 128px;border-radius: 4px;margin: 0px auto;}





@media screen and (max-width: 601px){.filterBox{display: none}.footerContact{min-height: 338px}}
@media screen and (min-width: 850px){.restaurantMainBox img{margin-right: 50px}}
@media screen and (max-width: 850px){.enamadMobile{display: block!important}.restaurantMainBox{width: 100%}.footer1{display: none}.bgBottomBoxIndex{display: none}.howToOrder{display: none;}.userPics img{width: 156px;}.footerContact{margin-top: 283px;text-align: center; padding: 0} .footerContact div{padding: 0;} .col-md-9{position: inherit;padding: 0} .search-container{max-width: 90%;width: 90%;margin: -35px -45%;}.filterBox{width: 99%;margin-right: 2px;}.foodBox{width: 99%;max-width: 99%;margin-top: 8px;margin-right: 0} .col-md-9{width: 100%;margin-right: 0; padding:0}}
@media screen and (max-width: 1281px) {.gifLoading{left: 10px;}.searchResult{float: none;margin: 68px auto}.searchBtn{display: none }}
@media screen and (min-width: 722px) {.header-container h1{display: none;}.col-md-9{padding: 10px }.userPics{margin:20px 67px 0 46px}.priceHomepage{margin: 8px 19px;}.selectedFood , .bottomFoodbox{margin: 29px 0 0 5px;}.foodDesc{padding: 8px 175px 0 0;}.header-search{width: 76%;}}
@media screen and (max-width: 991px) {.bottomBoxIndex:first-child{margin-top: 0px}.footerContact{margin-top: 0;text-align: center; padding: 0}.userPics{margin:15px 0 0 0}.priceHomepage{margin: 0px 10px;line-height: 30px;}.selectedFood , .bottomFoodbox {margin: 10px 0 0 5px;}.foodDesc{padding: 8px 160px 0 0;}.foodsTypeFix{position: inherit;width: 100%} .cart-box{width: 100%} .cart-box .headerBox{width: 100%} .arrowpng{display: none} .col-md-4{background: #e2e2e2;} .filterBox{margin-left: 20px}}
@media screen and (min-width: 1281px){.searchResult{margin-right: 66px;float: right;}.gifLoading{left: 130px}}
@media screen and (min-width: 1080px){.bottomBoxIndexCm{width: 44.2%}}
@media screen and (max-width: 1081px) and (min-width: 851px){.filterBox{margin:17px 40px 10px 3px}}
@media screen and (max-width: 991px) and (min-width: 850px){.footerContact{margin-top: 272px}.contentpage{margin-top: 231px} .filterBox{margin-top: 20px;}}
@media screen and (max-width: 376px){.footerContact{min-height: 394px} }
@media screen and (max-width: 420px){.header-container h2{display: none}.header-container h1{position: absolute;top: -26px;left: 17px;font-size: 27px} .search-container{top: 68%!important} .header-container{height: 246px!important; background-position: 100% 231% !important}.navbar .navbar-nav{display: none} #menu-toggle{display: block;}.logoBgImage{width: 150px!important;position: absolute;top: 0;left: 11px;opacity: 0.9;}}
@media screen and (min-width: 478px){.footerContact .row{padding: 0px 51px;}}