.logoBg , .search-container{display: none}
.header-container{box-shadow: 0 0 23px #000;background-image: url(/img/bg.jpg);background-position: inherit; height: 50px;background-size: cover;}
.col-md-5{float: none;margin: 30px auto;height: 410px;}
.payBox span{margin-right: 12px;color: #777;}
.inputLoginInCartPage{border: 1px solid #ccc;border-radius: 22px;padding: 6px 12px;margin-top: 8px}
.payBtn{float: left;margin-top: 8px;border-radius: 27px;border: none;padding: 5px 14px;background: #39b54a;color: #fff;box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);margin-left: 3px;height: 36px;width: 75px;}
.payBox{padding: 10px}
.bodyTable{font-size: 18px; color: rgba(234, 29, 93, 0.83)}
.inputTable{padding: 5px 8px;border: 1px solid #ccc;border-radius: 22px; color:#777; width: 104px}
.boxUserCheckForPay{padding: 0 30px}
.col-md-11{padding: 0}
.active{background-color: inherit;}
@media screen and (max-width: 991px){.footerContact{margin-top: 0}}
@media screen and (max-width: 767px) {.header-container{height: 63px !important}}
