<% include ./header %>
	<link rel="stylesheet" type="text/css" href="./css/cart.css">
	<script src="./lib/cart.js"></script>
	<link rel="stylesheet" href="./css/bootstrap-datepicker.min.css" />
	<div class="col-md-11 box pageContent">
		<header class="headerBox">
			<h3>تعیین نوع سفارش</h3>
		</header>
		<div class="tab-content">
   			<div id="home" class="tab-pane fade in active">
				<div class="foodsContentCartPage" >
					<div class="col-md-5">
						<div class="col-md-12 orderFood">
							<a> سفارش غذا </a>
							<img src="/img/arrowleft.png">
						</div>
						<div class="col-md-12 reserveFood">
							<a> رزرو برای روزهای آینده </a>
							<img src="/img/arrowleft.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include ./footer %>