<style>
	.search-container{display: none}
</style>
<% include ./header %>
	<script src="./lib/cart_login.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/cart_login.css">
	<div class="col-md-11 box pageContent">
		<header class="headerBox">
			<h3>تکمیل خرید و پرداخت آنلاین</h3>
		</header>
	  	<ul class="nav nav-tabs">
		<li class="disabled"><a  href="#home">سبد خرید</a></li>
		<li class="loginCartPage active"><a  href="#menu1">ورود</a></li>
		<li class="payCartPage disabled"><a href="#menu2">پرداخت</a></li>
		</ul>

		<div class="foodsContentCartPage" >
			<div class="col-md-5 marginFirstCol">
			<div class="loginBox">
				<span>ورود کاربران :</span>
			 	<input type="text" class="col-xs-12 inputLoginInCartPage userNameLogin" maxlength="11"placeholder="تلفن همراه">
			 	<input type="password" class="col-xs-12 inputLoginInCartPage passwordLogin" placeholder="رمز عبور">
			 	<input type="submit" class="cartLoginBtn loginBtn" value="ورود">
			</div>
			</div>
		 	<div class="hrr"></div>
			<div class="col-md-5 signup">
		 	<div  clas="signupBox">
				<span>ثبت نام سریع :</span>
				<input class="col-xs-12 inputLoginInCartPage nameSignUp" placeholder="نام و نام خانوادگی">
		 		<input type="tel" class="col-xs-12 inputLoginInCartPage telSignUp" placeholder="تلفن همراه ( 09123456789 )" maxlength="11">
		 		<input type="text" class="col-xs-12 inputLoginInCartPage passSignUp" placeholder="رمز عبور ( بیش از ۶ کاراکتر )">
		 		<input type="text" class="col-xs-12 inputLoginInCartPage addressSignUp" placeholder="آدرس ( جهت ارسال سفارش )">
		 		<input type="submit" class="cartLoginBtn signupBtn" value="ثبت نام" name="">
		 		</div>
			</div>
			</div>
		</div>
	</div>
