
  
</div>

<footer>
	<div class="footerContact" id="flwUp">
		<div class="row">
			<div class="col-md-6">
				<div class="bgenamadMobile">
					<img class="enamadMobile" id='hwlawmcslbrhdrftgwmd' style='cursor:pointer' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=48719&p=odshaqgwqgwlnbpdjzpg", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")' alt='' src='https://trustseal.enamad.ir/logo.aspx?id=48719&p=aodsukaqpeuklznbzpfv'/>
				</div>
				<span> ۷ روز هفته، ۲۴ ساعته پاسخگوی شما هستیم.</span> 
				<span>09353860334</span> 
			</div>
			<div class="col-md-6" style="padding-right:39px">
				<input type="" name="" class="flwUp" placeholder="شماره پیگیری خود را وارد کنید">
				<input type="submit" value="پیگیری" ="" class="flwUpBtn">
			</div>
		</div>
	</div>
	<div class="footerContent">
		<footer class="footer1">
			<div class="container">
				<div class="row"><!-- row -->
	                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
		                <ul class="list-unstyled clear-margins"><!-- widgets -->
	                    	<li class="widget-container widget_nav_menu"><!-- widgets list -->
	                            <h3 class="title-widget">صفحات</h3>
	                            <ul>
	                            	<li><a  href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
	                                <li><a  href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
	                                <li><a  href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
	                            </ul>
							</li>
	                    </ul>
	                </div><!-- widgets column left end -->		                
	                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
		                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                                <h3 class="title-widget">صفحات</h3>
                                <ul>
 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
                                </ul>
							</li>
                        </ul>
	                </div><!-- widgets column left end -->
	                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
		                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                                <h3 class="title-widget">صفحات</h3>
                                <ul>
									<li><a href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right"></i>برگه ی نمونه</a></li>
					            </ul>
							</li>
                        </ul>
	                </div><!-- widgets column left end -->
	                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                                <h3 class="title-widget">اطلاعات تماس </h3>
                                <div class="footerp"> 
                                	<img id='hwlawmcslbrhdrftgwmd' style='cursor:pointer;border: 1px solid #dadada;border-radius: 4px;' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=48719&p=odshaqgwqgwlnbpdjzpg", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")' alt='' src='https://trustseal.enamad.ir/logo.aspx?id=48719&p=aodsukaqpeuklznbzpfv'/>
	                                <h4>آدرس :</h4>
	                                <h6>دزفول, خیابان نبوت, گلستان 11, پلاک 215</h6>
	                                <p><b>تلفن : </b> <a>06142237226 </a></p>
	                                <p><b>ایمیل : </b> <a href="mailto:Bourse.trader93@gmail.com">Bourse.trader93@gmail.com</a></p>
	                                <div class="social-icons">
                            			<ul class="nomargin">
		                					<a href="https://www.facebook.com/">
		                					<i class="fa fa-facebook-square fa-3x social-fb" id="social"></i>فیسبوک         
		                					<a href="https://twitter.com/">
		                					<i class="fa fa-twitter-square fa-3x social-tw" id="social"></i>توییتر         
		                					<a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i>گوگل پلاس         
		                					<a href="mailto:goldast.xps@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i>ایمیل                               
	                                    </ul>
	                                </div>
                    			</div>
                    		</li>
                        </ul>
                    </div>
                </div>
			</div>
		</footer>
	</div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89413688-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>