<!DOCTYPE html>
<html lang="fa">
	<head>
		<title>فود آپ | سفارش غذا در دزفول</title>
		<meta name="author" content="Mohammad Goldast">
		<meta name="emailAuthor" content="Goldast.xps@gmail.com">
		<meta name="phoneAuthor" content="+989353860334">
		<meta name="robots" content="index,follow">
		<meta property="og:title" content="سفارش غذا">
		<meta property="og:type" content="home">
		<meta property="og:url" content="http://www.food-up.ir/">
		<link rel=”publisher” href=”https://plus.google.com/101093200032243822560”>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="style.css" media="print">
		<meta name="description"  content="برای اولین بار , بهترین و تنها سامانه ی سفارش غذا در دزفول , غذایی با کیفیت و سالم , با ارسال سریع برای تمامی نقاط دزفول" />
		<meta name="keywords"  content="سفارش غذا ، سفارش غذا دزفول ، سامانه ی سفارش غذای دزفول ، سایت سفارش غذای دزفول ، فود آپ , دزفول" />
		<meta name="theme-color" content="#fff">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="./lib/jquery-3.1.1.min.js"></script>
		<script src="./lib/jquery.cookie.js"></script>
  		<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>

		<!-- Optional theme -->
		<!-- Latest compiled and minified JavaScript -->
		<script src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js'></script>

		<link rel="stylesheet" href="./css/bootstrap-rtl.min.css">
		<link rel="stylesheet" href="./css/style.css">
	    <script src="./lib/bootstrap-datepicker.min.js"></script>
	    <script src="./lib/bootstrap-datepicker.fa.min.js"></script>
	    <script src="./lib/jquery.timepicker.min.js"></script>
		<script src="./lib/moment.js"></script>
		<script src="./lib/moment-jalaali.js"></script>
		<script src="./lib/app.js"></script>

	</head>
	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
		        <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal">&times;</button>
		            <h4 class="modal-title">اخطار :</h4>
		        </div>
		        <div class="modal-body">
		            <p></p>
		        </div>
		        <div class="modal-footer"></div>
		    </div>  
	    </div>
	</div>