<% include ./head %>
<script src="./lib/header.js"></script>

	<div class="menuMobile cart-box">
		<div class="checkOutFood">
			<img src='./img/removeFood.png' class='removeFoodIndex' alt="حذف غذا">
		</div>
		<header class="headerBox">
		<a class="navigateMenuMobile">
			<div class="iconBag">
				<img src="./img/bag.png" alt="سبد غذا">
				<h3>سبد خرید</h3><span class="badge">0</span>
			</div>
		</a>
			<a>	
				<div class="col-md-12 orderFood itemInCart">
					<span>تکمیل خرید</span>				
				</div>
			</a>
			<a>
				<div class="col-md-12 reserveFood itemInCart">
					<span>ثبت رزرو</span>
				</div>
			</a>
		</header>
	</div>
	<header>
		<div class="container-fluid">
			<div class="header-container">
				<nav class="navbar">
					<ul class="nav navbar-nav">
						<a class="nav-link" href="/" style="">صفحه ی اصلی</a>
						<a class="nav-link" href="#flwUp">پیگیری سفارش</a>
						<a class="nav-link" href="/about">درباره ی ما</a>
					</ul>
					<a id="menu-toggle" href="#" class="btn btn-lg toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
					<div id="sidebar-wrapper">
					  <ul class="sidebar-nav">
					  	<div class="headerMenu">
					    	<a id="menu-close" href="#" class="btn btn-default btn-lg pull-left toggle"><i class="glyphicon glyphicon-remove"></i></a>
					    </div>
					    <div class="itemInResponsiveMneu">
							<li><a class="nav-link" href="/" style="">صفحه ی اصلی</a></li>
							<li><a class="nav-link" href="#flwUp">پیگیری سفارش</a></li>
							<li><a class="nav-link" href="/about">درباره ی ما</a></li>
					    </div>
					</div>
				</nav>

				<div class="logoBg">
					<img src="./img/logo.png" class="logoBgImage" alt="Food-up.ir" title="سفارش غذا">
					<h2>سفارش آنلاین غذا از رستوران های دزفول</h2>
				</div>
				<div class="search-container">
					<img class="iconSearchBox" title="Search icon" alt="Search Food" src="/img/search-icon.png">
					<input type="text" class="header-search" placeholder="چی میل دارین ؟ ">
					<img src="./img/loading.gif" class="gifLoading" alt="بار گذاری" title="loading">
					<div class="searchBtn"><span>جستجو</span></div>
					<div class="searchResult" style="overflow-x: scroll;">
					</div>
				</div>
			</div>
	</header>

	