<% include ./header %>
<script src="./lib/index.js"></script>
<link rel="stylesheet" type="text/css" href="./lib/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="./lib/slick/slick-theme.css"/>
<script type="text/javascript" src="./lib/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/indexResponsiveNavTabs.css">
<script>
  (function($) {

    'use strict';

    $(document).on('show.bs.tab', '.nav-tabs-responsive [data-toggle="tab"]', function(e) {
      var $target = $(e.target);
      var $tabs = $target.closest('.nav-tabs-responsive');
      var $current = $target.closest('li');
      var $parent = $current.closest('li.dropdown');
      $current = $parent.length > 0 ? $parent : $current;
      var $next = $current.next();
      var $prev = $current.prev();
      var updateDropdownMenu = function($el, position){
        $el
          .find('.dropdown-menu')
          .removeClass('pull-xs-left pull-xs-center pull-xs-right')
          .addClass( 'pull-xs-' + position );
      };

      $tabs.find('>li').removeClass('next prev');
      $prev.addClass('prev');
      $next.addClass('next');
      
      updateDropdownMenu( $prev, 'left' );
      updateDropdownMenu( $current, 'center' );
      updateDropdownMenu( $next, 'right' );
    });

  })(jQuery);
</script>
<body>
<div class="restaurantMainBox col-xs-12">
	<img src="/img/restlogo/sofreirooni.jpg" alt="سفره ایرونی" title="رستوران">
	<div>
		<a> رستوران سفره ایرونی </a><br>
		<span style="margin-right:13px"> خیابان 45 متری بعد از مسجد شهید جودکی‌</span>
	</div>
</div>
<div class="howToOrder">
	<div class="col-md-4">
		<a href="#" data-toggle="tooltip" data-placement="left" title="انتخاب غذا همراه با منوی عکس دار بهترین رستوران های اطراف شما"><img src="/img/searchfood.png" style="margin-top:25px" alt="search food" name="search"></a>
	</div>
	<img class="arrowpng" src="/img/homepage-arrow.png" style="right:23%" alt="home page arrow" name="home page arrow">	
	<div class="col-md-4">
		<a href="#" data-toggle="tooltip" data-placement="left" title="پرداخت آنلاین، شارژ حساب کاربری "><img src="/img/pay.png" style="margin-top:25px" alt="پرداخت در دزفول" name="پرداخت در دزفول"></a>
	</div>
	<img class="arrowpng" src="/img/homepage-arrow.png" style="-ms-transform:rotateX(180deg);-webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); left:23%; top:70px" alt="arrow" name="عکس در دزفول">
	<div class="col-md-4">
		<a href="#" data-toggle="tooltip" data-placement="right" title="ارسال در سرع ترین زمان در تمامی نقاط دزفول"><img src="/img/delivery.png" width="135px" alt="ارسال" name="ارسال در دزفول"></a>
	</div>	
</div>

<div class="container-fluid">
	<div class="row contentpage">
		<div class="col-md-3 col-xs-12 filterBox pull-right">
			<div class="fixSidebar">		
				<div class="cart-box">
					<header class="headerBox doneBuy">
						<div class="iconBag"><img src="./img/bag.png" alt="خرید در دزفول" name="سبد خرید دزفول"></div>
						<h3>تکمیل خرید</h3>
						<span class="badge">0</span>
						<span class="glyphicon glyphicon-menu-left"></span>
					</header>
					<div class="cartItem fade in">
						<div class="optionCart">
							<a href="/order">	
								<div class="col-md-12 orderFood">
								
									<span> خرید </span>
									<img src="/img/arrowleft.png" alt="غذا" name="علامت غذا">
						
								</div>
							</a>
							<a href="/reserve">	
								<div class="col-md-12 reserveFood" alt="رزرو غذا در دزفول" name="رزرو غذا در دزفول">
								
									<span> رزرو </span>
									<img src="/img/arrowleft.png">
							
								</div>
							</a>						
						</div>
					</div>
					<div class="checkOutFood" id="checkOutFood">
						<span>سبد خرید شما خالی است .</span>
					</div>

				</div>
		</div>
	</div>
	<div class="col-md-9">
	<div class="box mainBoxIndex">
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
        <li role="presentation" class="active">
          <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
            <span class="text">خوراک</span>
          </a>
        </li>
        <li role="presentation" class="next">
          <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">
            <span class="text">نوشیدنی</span>
          </a>
        </li>
        <li role="presentation">
          <a href="#samsa" role="tab" id="samsa-tab" data-toggle="tab" aria-controls="samsa">
            <span class="text">مخلفات</span>
          </a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
			<% foods.forEach(function(food) { %>
				<% if(food.typeOfFood == "1") { %>
					<div class="col-md-5 box foodBox" id="<%= food._id %>">
						<header class="headerBox">
							<span><%= food.name %></span>
							<p><span><%= food.restaurant[0].price %> تومان</p> 

						</header>
						<img src="<%= food.pic %>" class="foodPicHomepage" alt="<%= food.name %>" name="<%= food.name %>"> 
						<div class="foodDesc">
							<span class="foodDescHomepage"><%= food.desc %></span>
						</div>
						<img class="selectedFood" src="./img/tik.png" style="display:none" alt="غذا">

						<div class="bottomFoodbox">
							<% if(food.restaurant[0].stock > 0) { %>
								<div class="foodBoxChecker" name="<%= food.id %>" >+ افزودن به سبد خرید</div>
								<img src="./img/tik.png" class="foodSelected" alt="انتخاب غذا در دزفول" name="عکس">
							<% }else{ %>
								<div class="noQtyIcon" title="No Qty" alt="موجود نیست">موجود نیست</div>
							<% } %>
							<% if(food.restaurant[0].off > 0) { %>
								<div class="offIndex foodPicHomepage"><%= food.restaurant[0].off %>% تخفیف برای رزرو</div>
							<% } %>
						</div>
					</div>
				<% } %>
			<% }); %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
			<% foods.forEach(function(food) { %>
				<% if(food.typeOfFood == "2") { %>
					<div class="col-md-5 box foodBox" id="<%= food._id %>">
						<header class="headerBox">
							<span><%= food.name %></span>
							<p><span><%= food.restaurant[0].price %> تومان</p> 
						</header>
						<img src="<%= food.pic %>" class="foodPicHomepage" alt="<%= food.name %>" name="<%= food.name %>">
						<div class="foodDesc">
							<span class="foodDescHomepage"><%= food.desc %></span>
						</div>
						<img class="selectedFood" src="./img/tik.png" style="display:none" alt="انتخاب غذا در دزفول" name="عکس">

						<div class="bottomFoodbox">
							<% if(food.restaurant[0].stock > 0) { %>
								<div class="foodBoxChecker" name="<%= food.id %>" > افزودن به سبد خرید</div>
							<% }else{ %>
								<div class="noQtyIcon" title="No Qty" alt="موجود نیست">موجود نیست</div>
							<% } %>
							<% if(food.restaurant[0].off > 0) { %>
								<div class="offIndex foodPicHomepage"><%= food.restaurant[0].off %>% تخفیف برای رزرو</div>
							<% } %>
						</div>
					</div>
				<% } %>
			<% }); %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="samsa" aria-labelledby="samsa-tab">
			<% foods.forEach(function(food) { %>
				<% if(food.typeOfFood == "3") { %>
					<div class="col-md-5 box foodBox" id="<%= food._id %>">
						<header class="headerBox">
							<span><%= food.name %></span>
							<p><span><%= food.restaurant[0].price %> تومان</p> 						
						</header>
						<img src="<%= food.pic %>" class="foodPicHomepage" alt="<%= food.name %>" name="<%= food.name %>">
						<div class="foodDesc">
							<span class="foodDescHomepage"><%= food.desc %></span>
						</div>
						<img class="selectedFood" src="./img/tik.png" style="display:none" alt="انتخاب غذا در دزفول" name="عکس">

						<div class="bottomFoodbox">
							<% if(food.restaurant[0].stock > 0) { %>
								<div class="foodBoxChecker" name="<%= food.id %>" > افزودن به سبد خرید</div>
							<% }else{ %>
								<div class="noQtyIcon" title="No Qty" alt="موجود نیست">موجود نیست</div>
							<% } %>
							<% if(food.restaurant[0].off > 0) { %>
								<div class="offIndex foodPicHomepage"><%= food.restaurant[0].off %>% تخفیف برای رزرو</div>
							<% } %>
						</div>
					</div>
				<% } %>
			<% }); %>
        </div>
      </div>
    </div>
    </div>
	</div>
</div>
	<div class="bgBottomBoxIndex">
		<div class="col-md-5 bottomBoxIndex userPics box">
			<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#pictures">رستوران های طرف قرار داد</a></li>
			</ul>
	    	<img src="/img/restlogo/sofreirooni.jpg" alt="سفره ایرونی" title="رستوران">
		</div>

		<div class="col-md-5 bottomBoxIndex box bottomBoxIndexCm">
			<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#comments">دیدگاه های مشترکین</a></li>
			    <li><a data-toggle="tab" href="#sendComment">ارسال دیدگاه</a></li>
			</ul>
			<div class="tab-content">
			    <div id="comments" class="tab-pane fade in active pics">
			    	<% if(cms){ %>
			    		<% cms.forEach(function(cm) {  %>
							<div class="boxComments">
								<img class="avatarComment" src="/img/avatar.png" alt="پروفایل در دزفول" name="عکس">
								<div class="textareaIndex userCommentBox">
									<h6 class="media-heading"> مشترکی با شماره سفارش <%= cm.flwUpNumber %>  نوشت :‌ </h6>
									<p><%= cm.messageText %></p>
								</div>
							</div>
						<% }) %>
					<% } %>	
			    </div>
			    <div id="sendComment" class="tab-pane fade">
			    	<input class="inputIndex flwUpNumber" placeholder="شماره پیگیری سفارش خود را وارد کنید .">
			    	<input class="submitIndex submitComment" type="submit" value="ثبت نظر">
			    	<textarea class="textareaIndex messageText" placeholder="دیدگاه خود را با ما در میان بگذارید ..."></textarea>
			    </div>
			</div>
		</div>
	</div>
</div>

<script>
	$('.checkOutFood .btn-primary').click(function(){
		console.log("s");
	});
</script>
<% include ./footer %> 