<% include ./header %>
	<div class="col-md-11 box pageContent">
		<header class="headerBox">
			<h3>مرغ سوخاری فرانسوی</h3>
		</header>
	</div>
	<style>
		.header-container{height: 150px;background-position: inherit;}
		.search-container{margin:0px -30%;top: 44%;left: 49%}
	</style>

<% include ./footer %>