<style>
	.search-container{display: none}
</style>
<% include ./header %>
	<link rel="stylesheet" type="text/css" href="./css/reserve.css">
	<script src="./lib/reserve.js"></script>
	<link rel="stylesheet" href="./css/bootstrap-datepicker.min.css" />
	<div class="col-md-11 box pageContent">
		<header class="headerBox">
			<h3>تکمیل خرید و پرداخت آنلاین</h3>
		</header>
	  	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#home">سبد خرید</a></li>
		<li class="loginCartPage disabled"><a  href="#menu1">ورود</a></li>
		<li class="payCartPage disabled"><a href="#menu2">پرداخت</a></li>
		</ul>
		<div class="tab-content">
   			<div id="home" class="tab-pane fade in active">

			<div class="foodsContentCartPage" >
					<%if(foods) { %>
					<div class="alert alert-info">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">   &times;   </a>
						<strong>توجه !</strong> پس از تعیین تعداد هر غذا, از دکمه ی ادامه ی خرید برای تکمیل سفارش استفاده کنید ./
					</div>

					<% foods.forEach(function(food) { %>
					<div class="foodsBoxCart box">
						<header class="headerBox">
							<h3 class="foodName"><%= food.name %></h3>
						</header>
						<div class="chooiceOptionToBuy">
							<span> رستوران / فست فود :‌</span>
							<span style="color: rgba(234, 29, 93, 0.83);" qty="<%= food.restaurant[0].stock %>" id="rest" restId="<%= food.restaurant[0]._id %>" price="<%= food.restaurant[0].price %>" off="<%= food.restaurant[0].off %>">
										<%= food.restaurant[0].name %>
									</span>
							<br>
							<span class="priceSpanTag"> قیمت :‌ 
								<span style="color: rgba(234, 29, 93, 0.83);" ><%= food.restaurant[0].price %> </span>
								 تومان
							</span>
							<span class="priceForEachRestuarant"></span><br>
							<span class="qtyForEachRest">موجودی : 
								<span style="color: rgba(234, 29, 93, 0.83);"><%= food.restaurant[0].stock %> </span>عدد
							</span>
							
							<span></span><br>
							<div class="qtyBox">
								<span> تعداد :‌ </span>
								<div class="MMqty">-</div>
								<li type="number" class="numOfFood">1</li>
								<div class="PPqty">+</div>
							</div>
							<div class="foodBoxBtn">
								<input type="submit" name="" class="col-xs-3 deleteFoodFromCart" value="حذف">
								<% if(food.restaurant[0].off > 0) { %>
									<div class="off"><%= food.restaurant[0].off %>% تخفیف</div>
								<% } %>
							</div>
						</div>
					</div>
					<%   }); %>
					<br><br><br><br>
					<div class="col-md-12 col-xs-12">
					<nav aria-label="...">
					  <ul class="pager">
  					    <li class="next"><a class="contiuneBuy" >ادامه ی خرید <span aria-hidden="true">&larr;</span></a></li>

							<li class="next">
								<div class="datepicker dateBox">
									<div class="dateIcon"></div>
									<span style="float: right;line-height: 31px;">تاریخ رزرو :</span>
									<input id="date" class="selectInCartPage datepicker" placeholder="تعیین تاریخ" style="float:left">
									<img class="arrow" src="./img/arrow.png">
								</div>
							</li>

					  	<li class="next"><a style="color: rgba(234, 29, 93, 0.83);border-color:rgb(237, 67, 120)">مجموع :  <span aria-hidden="true" class="totalPrice">0</span><span> تومان</span></a></li>

					  </ul>
					</nav>
					</div>
				<% } %>
			</div>
			</div>
		</div>
	</div>
