<style>
	.search-container{display: none}
</style>
<% include ./header %>
	<script src="./lib/moment.js"></script>
	<script src="./lib/moment-jalaali.js"></script>
	<script src="./lib/user_pay.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/user_pay.css">
	<div class="col-md-11 box pageContent">
		<header class="headerBox">
			<h3>تکمیل خرید و پرداخت آنلاین</h3>
		</header>
	  	<ul class="nav nav-tabs">
		<li class="disabled"><a  href="#home">سبد خرید</a></li>
		<li class="loginCartPage disabled"><a  href="#menu1">ورود</a></li>
		<li class="payCartPage active"><a href="#menu2">پرداخت</a></li>
		</ul>

		<div class="foodsContentCartPage" >
			<div class="panel panel-success payBox col-md-5" style="padding:0">
		  		<div class="panel-heading">اطلاعات پرداخت :</div>
					<table class="table payBox">
						<thead>
							<tr>	
								<th>
									<span>تاریخ فاکتور :‌</span>
								</th>
								<th>
									<span>قیمت کل :‌</span>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<span class="bodyTable dateFactor"></span>
								</td>
								<td>
									<span class="bodyTable totalPriceToPay"></span>
								</td>
							</tr>
						</tbody>
					</table>
		 			<div class="boxUserCheckForPay">
		 				<br>
		 				<span>به نام : <%= name %></span><br><br>

		 				<span>شماره تلفن :</span>
		 				<input type="tel" class="col-xs-12 inputLoginInCartPage " placeholder="<%= tell %>" style="margin-bottom: 25px;">
						<br><br>
						<label class="radio-inline takeaways"><input type="radio" value="0" name="optradio">تحویل در رستوران</label>
						<label class="radio-inline sendOrder"><input type="radio" value="1" name="optradio">ارسال سفارش</label>
		 				<textarea rows="2" maxlength="150" wrap="soft" class="col-xs-12 inputLoginInCartPage customerAddress " placeholder="<%= address %>"></textarea>
						<div class="alert alert-info" style="display:none">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">    </a>
							<strong>توجه !</strong> در صورت صحیح بودن اطلاعات سفارش دهنده , لطفا از تغییر اطلاعات خودداری کنید . سفارش شما برای اطلاعات فوق ارسال میشود .
						</div>
				 		<input type="submit" class="payBtn" value="پرداخت">
		 			</div>
				</div>
			</div>
		</div>
	</div>
	</div>
