<% include ./header %>
<script src="../lib/admin_addProducts.js"></script>
	<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">سفارشات</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>اسم</th>
                        <th>توضیحات</th>
                        <th>عکس</th>
                        <th>حدود قیمت</th>
                        <th>نوع</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <form id="formAddFood" method="post" enctype="multipart/form-data" action="/addFood">
                            <td>اطلاعات غذا :</td>
                            <td><input class="styleFormForAddProducts foodNameForAddFood" type="" name="foodName"></td>
                            <td><textarea class="styleFormForAddProducts foodDescForAddFood" name="foodDesc" maxlength="138"></textarea></td>
                            <td><input class="styleFormForAddProducts foodpicForAddFood" style="width:103px" type="file" name="file"></td>
                            <td><input class="styleFormForAddProducts foodPriceRangeForAddFood" type="" name="priceRange"></td>
                            <td>

                                    1 = خوراک
                                <br>
                                    2 = نوشیدنی
                                <br>
                                    3 = مخلفات
                                <br>
                                
                                <select class="styleFormForAddProducts typeOfFoodForAddFood" name="typeOfFood">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </selcet>

                            </td>
                            <td><input class="styleFormForAddProducts submitForAddFood" type="submit" value="ثبت" ></td> 

                        </form>
                    </tr>                  
                </tbody>
            </table>
        </div>
	</div>

	</div>
</div>

</body>
</html>
