<% include ./header %>
<script src="../lib/admin_comments.js"></script>
	<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">سفارشات</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>شماره پیگیری</th>
                        <th>متن نظر</th>
                        <th>وضعیت</th>
                    </tr>
                </thead>
                <tbody>
                    <% cms.forEach(function(cm) { %>
                        <tr>
                            <td><%= cm.flwUpNumber %></td>
                            <td><%= cm.messageText %></td>
                            <td><%= cm.status %></td>
                            <td>
                                <% if(cm.status == false){ %>
                                    <input cmId="<%= cm._id %>" class="subCm subbtn" type="submit" value="تایید نظر"  >
                                <% } %>
                                <input cmId="<%= cm._id %>" class="dlteCm" type="submit" value="حذف نظر" >
                            </td>
                        </tr>
                    <% }); %>                  
                </tbody>
            </table>
        </div>
	</div>

	</div>
</div>

</body>
</html>
