<!DOCTYPE HTML>
<html>
<head>
<meta name="robots" content="noindex">
<meta charset="utf-8">
<title>مدیریت</title>
<link type="text/css" rel="stylesheet" href="../css/admin_style.css">
<link rel="stylesheet" href="../css/bootstrap-rtl.min.css"><link rel="stylesheet" href="../css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="../lib/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/jquery.flot.js"></script>
<script type="text/javascript" src="../lib/doc.js"></script>
<script src="../lib/jquery.cookie.js"></script>
<link rel="stylesheet" href="../css/bootstrap-rtl.min.css">
<link rel="stylesheet" href="../css/admin_addProduct.css">
</head>
<body>

<div class="body_style">
	<div class="menu">
    <a href="/" class="logo"></a>
    <a style="float:left; margin:8px; color:#fff" target="_blank" href="/">نمایش سایت </a>
    </div>
	<div class="nav">
    	<ul>
        	<li class="active">
            	<div class="fix">
                    <span class="ico"><img src="../img/admin/ico1.png"></span>
                    <span class="value">مدیریت</span>
                </div>
             </li>
            <li>
            	<div class="fix">
                    <span class="ico"><img src="../img/admin/ico6.png"></span>
                    <span class="value">محصولات</span>
                </div>
                <ul>
                	<li><a href="/products/add">افزودن محصولات</a></li>
                    <li><a href="/products">تمام محصولات</a></li>
                </ul>
            </li>
            <li>
                <div class="fix">
                    <span class="ico"><img src="../img/admin/ico5.png"></span>
                    <a href="/comments" style="color:#fff"><span class="value">نظرات</span></a>
                </div>
             </li>
        </ul>
    </div>