<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link type="text/css" rel="stylesheet" href="/css/admin_style.css">
<script type="text/javascript" src="/lib/jquery.min.js"></script>
<script type="text/javascript" src="/lib/jquery.flot.js"></script>
<script type="text/javascript" src="/lib/doc.js"></script>
</head>
<body>

<div class="body_style">
	<div class="menu">
    <a href="/" class="logo"></a>
    </div>
	<div class="nav">
    	<ul>
        	<li class="active">
            	<div class="fix">
                    <span class="ico"><img src="img/admin/ico1.png"></span>
                    <span class="value">مدیریت</span>
                </div>
             </li>
            <li>
            	<div class="fix">
                    <span class="ico"><img src="img/admin/ico2.png"></span>
                    <span class="value">بخش کاربران</span>
                </div>
                <ul>
                	<li><a href="/">دسترسی کاربران</a></li>
                    <li><a href="/">مدیریت گروه ها</a></li>
                    <li><a href="/">مدیریت کاربران</a></li>
                    <li><a href="/">لیست مدیران</a></li>
                </ul>
            </li>
            <li>
            <div class="fix">
                <span class="ico"><img src="img/admin/ico3.png"></span>
                <span class="value">مدیریت مالی</span>
            </div>
                <ul>
                	<li><a href="/">واریزی ها</a></li>
                    <li><a href="/">گزارش هفته</a></li>
                    <li><a href="/">گزارش ماه</a></li>
                    <li><a href="/">گزارش سالانه</a></li>
                </ul>
            </li>
            <li>
            <div class="fix">
                <span class="ico"><img src="img/admin/ico4.png"></span>
                <span class="value">بخش گزارش ها</span>
            </div>
                <ul>
                	<li><a href="/">بخش افزونه ها</a></li>
                    <li><a href="/">بخش فیلد های خاص</a></li>
                </ul>
            </li>
            <li>
            <div class="fix">
                 <span class="ico"><img src="img/admin/ico5.png"></span>
                <span class="value">پیام ها</span>
            </div>
                <ul>
                	<li><a href="/">پیام های سیستمی</a></li>
                    <li><a href="/">پیام های کاربری</a></li>
                    <li><a href="/">ارسال پیامس</a></li>
                </ul>
            </li>
            <li>
            <div class="fix">
                 <span class="ico"><img src="img/admin/ico6.png"></span>
                <span class="value">تحلیل سیستم</span>
            </div>
            </li>
            <li>
            <div class="fix">
                <span class="ico"><img src="img/admin/ico7.png"></span>
                <span class="value">منوی های ناوبری</span>
            </div>
            </li>
        </ul>
    </div>
    
    <div class="content">
    
    
    <ul data-collapse="collapse" class="quick">
        <li>
            <a href="#">
                <img alt="" src="img/admin/statistics.png">
                <span>وضعیت کلی</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="" src="img/admin/order-149.png">
                <span>لیست فعالیت ها</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="" src="img/admin/shipping.png">
                <span>مرسوله ها</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="" src="img/admin/my-account.png">
                <span>مدیریت حساب</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="" src="img/admin/full-time.png">
                <span>تنظیمات زمان</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="" src="img/admin/date.png">
                <span>رخداد ها</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="" src="img/admin/lock.png">
                <span>تنظیمات امنیتی</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="" src="img/admin/refresh.png">
                <span>خالی کردن کش</span>
            </a>
        </li>
    </ul>
    
	<h2>چارت ها</h2>
    <div class="demo-container">
			<div id="placeholder" class="demo-placeholder" style="float:left; width:445px;"></div>
			<p id="choices" style="float:right; width:135px;"></p>
		</div>
    

	<h2>نمونه فیلد ها</h2>
    <textarea name="name" class="fild" style="width:400px; height:100px;"></textarea><br>
    <input type="text" class="fild" name=""><br>
    <button class="btn" type="submit" name="submit" value="submit">نمونه گزینه</button>
    <button class="btn b1" type="submit" name="submit" value="submit">نمونه گزینه</button>
    <button class="btn b2" type="submit" name="submit" value="submit">نمونه گزینه</button>
    <button class="btn b3" type="submit" name="submit" value="submit">نمونه گزینه</button>
    <button class="btn b4" type="submit" name="submit" value="submit">نمونه گزینه</button>
    <button class="btn b5" type="submit" name="submit" value="submit">نمونه گزینه</button>
	

	</div>

    
</div>

</body>
</html>
