<% include ./header %>  
<script src="../lib/admin_index.js"></script>  
    <div class="content">
    
    
    <ul data-collapse="collapse" class="quick">
        <li>
            <a href="#">
                <img alt="" src="img/admin/statistics.png">
                <span>فروش این ماه :</span><br>
                <span>6000 تومان</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img alt="" src="img/admin/statistics.png">
                <span>سهم آیدیاس :</span><br>
                <span>6000 تومان</span>
            </a>
        </li>
    </ul>
    
    <div class="panel panel-default">
        <div class="panel-heading">سفارشات</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>شماره پیگیری</th>
                        <th>تاریخ</th>
                        <th>آدرس</th>
                        <th>موبایل</th>
                        <th>قیمت</th>
                        <th>وضعیت</th>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(function(order) { %>
                        <tr>
                            <td><%= order.id %></td>
                            <td><%= order.date %></td>
                            <td><%= order.address %></td>
                            <td><%= order.userid %></td>
                            <td><%= order.price %></td>
                            <td>ارسال نشده</td>
                            <td><input orderId="<%= order._id %>" type="submit" class="foodSended" value="ارسال شد" ></td>
                        </tr>
                    <% }); %>                       
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">تخفیات / رزروی ها </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>تاریخ</th>
                            <th>آدرس</th>
                            <th>موبایل</th>
                            <th>قیمت</th>
                            <th>وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                            <td>#</td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</div>
</body>
</html>
