<!DOCTYPE html>
<html>
<head>
	<meta name="robots" content="noindex">
	<link rel="stylesheet" href="../css/bootstrap-rtl.min.css"><link rel="stylesheet" href="../css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="../lib/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../lib/jquery.min.js"></script>
	<link rel="stylesheet" href="../css/bootstrap-rtl.min.css">
	<title>ورود</title>
	<style>
		body{
			background: url(../img/admin/loginbg.png);
		}
		.panel{
			width: 350px;
			position: absolute;
			left: 50%;
			top: 50%;
			height: 190px;
			margin: -95px -175px;
		}
		.input-group{
			margin-bottom: 8px;
		}
		.btn{float: left;}
	</style>
	<script>
		$(document).ready(function() {
			$('.btn').click(function() {
				var user = $('.username').val();
				var pass = $('.password').val();
				console.log(user + pass);
				$.post('/loginRestaurant', {user : user , pass : pass}, function(data){
					if(data.status == "200"){
						window.location.href = "./admin";
					}else{alert("نام کاربری یا رمز عبور اشتباه است .")}
				});
			});
		});
	</script>
</head>
<body>
	<div class="panel panel-default">
	    <div class="panel-heading">
	    	<h3 class="panel-title">ورود به مدیریت</h3>
	  	</div>
	  	<div class="panel-body">
			<div class="input-group">
			    <span class="input-group-addon" id="basic-addon1">نام کاربری : </span>
			    <input type="text" class="form-control username" aria-describedby="basic-addon1">
			</div>
			<div class="input-group">
			    <span class="input-group-addon" id="basic-addon1">رمز عبور  :  </span>
			    <input type="password" class="form-control password" aria-describedby="basic-addon1">
			</div>
			<a href="#" class="btn btn-primary" role="button">ورود</a>
	  	</div>
	</div>
</body>
</html>