<% include ./header %>
    <script src="../lib/admin_products.js"></script>
	<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">سفارشات</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>اسم</th>
                        <th>قیمت</th>
                        <th>موجودی</th>
                        <th>تخفیف</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% foods.forEach(function(food) { %>
                        <tr>
                            <td><%= food.name %></td>
                            <td><input class="styleFormForAddProducts price" placeholder="قیمت امروز" name=""></td>
                            <td><input class="styleFormForAddProducts stock" placeholder="موجودی امروز"></td>
                            <td><input class="styleFormForAddProducts off" placeholder="تخفیف امروز"> ٪</td>
                            <td><input class="styleFormForAddProducts dltFood" foodId="<%= food._id %>" type="submit" value="حذف غذا"></td>
                            <td><input class="styleFormForAddProducts modifyFood" foodId="<%= food._id %>"type="submit" value="ذخیره اطلاعات"></td>
                            
                        </tr>   
                    <% }); %>                  
                </tbody>
            </table>
        </div>
	</div>

	</div>
</div>

</body>
</html>
